[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SveltePlots"]
	path = SveltePlots
	url = https://github.com/pascal-schmidt/svelteplots
